<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <!-- <link rel="stylesheet" href="/styles/resets.css">
        <link rel="stylesheet" href="/styles/base.css">
        <link rel="stylesheet" href="/styles/header.css">
        <link rel="stylesheet" href="/styles/form.css">
        <link rel="stylesheet" href="/styles/footer.css"> -->
        <!-- <link rel="stylesheet" href="main.css"> -->
    </head>

    <body>

        <header>
            <div class="">
                Website Sentiment Evaluation
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return handleSubmit(event)">
                    <label for="url">Enter a valid URL to evaluate the sentiment of a webpage:</label>
                    <!-- <input id="url" type="text" name="input" value="" onblur="onBlur()" placeholder="Enter url to be processed"> -->
                    <input id="url" type="text" name="input" value="" placeholder="Enter url to be processed">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            <section>

            <section>
                <strong>Sentiment Evaluation:</strong>
                <div id="results"></div>
            </section>
        </main>

        <footer>
            &copy; 2019 mona lucy * All Rights Reserved
        </footer>
        <!-- <script type="text/javascript" src="../../../dist/main.js"></script> -->
        <!-- <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script> -->
    </body>
</html>
