<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Evaluate News Aritcle | NLP</title>
        <script src="https://kit.fontawesome.com/ff2daef84b.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <div id="logo">
                Website Sentiment Evaluation
            </div>
            <div id="emoticons">
                <i class="far fa-smile"></i>
                <i class="far fa-frown"></i>
                <i class="far fa-meh"></i>
            </div>
        </header>
        <main>
            <section id="section-form">
                <form class="" onsubmit="return handleSubmit(event)">
                    <label for="url">Enter a valid URL to evaluate the sentiment of a webpage:</label>
                    <input id="url" type="text" name="input" value="" placeholder="Enter url to be processed">
                    <input id="btn-submit" type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            <section>
            <section id="section-results">
                <h1>Sentiment Evaluation:</h1>
                <div id="results-container">
                    <div id="polarity" class="results"></div>
                    <div id="subjectivity" class="results"></div>
                    <div id="text" class="results"></div>
                </div>
            </section>
        </main>
        <footer>
            &copy; 2019 Andrea Lehman * All Rights Reserved
        </footer>
        <script>
            if ('serviceWorker' in navigator) {
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>
